@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}
